{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta-desc %}{% endblock %}">
    <meta name="keywords" content="{% block meta-keyw %}{% endblock %}trener, manager, menedżer, piłka nożna, football, futbol, liga, ekstraklasa, 1 liga, premier league, la liga, bundesliga, serie a">
    <meta name="author" content="www.tenosoft.pl">
    <link rel="icon" href="{% static 'managers/icons/favicon.ico' %}">

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'managers/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles -->
    <link href="{% static 'managers/css/main.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129006421-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-129006421-1');</script> 
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-white">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img height="54" class="mb-0" src="{% static 'managers/icons/logo2.jpg' %}" /></a>
        </div>
        <div id="nb" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'managers:news' %}">Aktualności</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'articles:published-articles' %}">Artykuły</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'managers:managers' %}">Trenerzy</a></li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="cupsDropdown" role="button" aria-haspopup="true" aria-expanded="false">Rozgrywki <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="cupsDropdown">
                <a class="dropdown-item" href="{% url 'managers:season' 'pko-ekstraklasa-20212022' %}"><img src="{{ '/media/cups-emblems/48x48/pko_ekstraklasa_2019.png' }}" class="dropdown-cup-icon" /> Ekstraklasa</a>
                <a class="dropdown-item" href="{% url 'managers:season' 'fortuna-i-liga-20212022' %}"><img src="{{ '/media/cups-emblems/48x48/fortuna1liga.png' }}" class="dropdown-cup-icon" /> 1. Liga</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'managers:season' 'premier-league-2021-22' %}"><img src="{{ '/media/cups-emblems/48x48/premier2018.png' }}" class="dropdown-cup-icon" /> Premier League</a>
                <a class="dropdown-item" href="{% url 'managers:season' 'bundesliga-202122' %}"><img src="{{ '/media/cups-emblems/48x48/bundesliga.png' }}" class="dropdown-cup-icon" /> Bundesliga</a>
                <a class="dropdown-item" href="{% url 'managers:season' 'la-liga-2021-22' %}"><img src="{{ '/media/cups-emblems/48x48/laliga2018.png' }}" class="dropdown-cup-icon" /> La Liga</a>
                <a class="dropdown-item" href="{% url 'managers:season' 'serie-a-2021-22' %}"><img src="{{ '/media/cups-emblems/48x48/seriea-2021-48' }}" class="dropdown-cup-icon" /> Serie A</a>
                <a class="dropdown-item" href="{% url 'managers:season' 'ligue-1-2021-22' %}"><img src="{{ '/media/cups-emblems/48x48/ligue1-48.png' }}" class="dropdown-cup-icon" /> Ligue 1</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'managers:season-list' %}">Wszystkie rozgrywki</a>                
              </div>  
            </li>
          </ul>
          <form class="form-inline my-2 {% if hide_searchbox %}d-none{% endif %}" role="search" action="{% url 'managers:search' %}" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" type="text" placeholder="Szukaj" aria-label="Szukaj..." name='q' />
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
        </div><!--/.nav-collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nb" aria-expanded="false" aria-controls="nb" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      </div>
    </nav>
    
    {% block header %}{% endblock %}

    <main role="main">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="blog-footer">
      <p><a href="http://mngrs.pl">mngrs.pl</a></p>
    </footer>
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'managers/js/bootstrap.min.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
