{% extends "managers/base.html" %}
{% load static %}

{% block title %}Czas pracy trenera - {{ club.name_full }}{% endblock %}

{% block header %}
    <div class="jumbotron pt-3 pb-3 mb-0" style="background-image: linear-gradient(#083B66, #404040); color: #FFFFFF; ">
      <div class="container">
        <div class="row">
          <div class="col-4 col-sm-2 club-emblem text-center">
            <img src="{% static club.getIcon %}"  alt="{{ club.name_full }}"/>
          </div>
          <div class="col-8 col-sm-8 profile-head text-center align-self-center">
            <h1 class="display-4" >{{ club.name_full }}</h1>
          </div>
          <div class="d-none d-sm-block col-sm-2 club-emblem text-center">
            <img src="{% static club.getIcon %}"  alt="{{ club.name_full }}" />
          </div>                  
        </div>
      </div>  
    </div>
    {% if club.getCurrentEmployment %}
    {% with club.getCurrentEmployment as job %}
    <div class="jumbotron pt-0 pb-0 mb-0" style="background-color: rgba(8, 60, 102, 0.055); color: #000000; ">
      <div class="container">
        <div class="d-flex align-items-center">
          <div class="mx-0 mx-sm-3 mx-md-5">
            <div class="badge badge-secondary badge-days-number">
              <p class="h3 font-weight-light m-0">{{ job.durationDays }}</p>
              <p class="h5 font-weight-light m-0">dni</p>
            </div>
          </div>
          <div class="flex-grow-1 flex-column p-2 mx-0 mx-sm-3 mx-md-5">
              <p class="h1 font-weight-light">
                <a href="{% url 'managers:profile' job.manager.slug %}" class="text-reset">{{ job.manager.name_last }}</a>
              </p>
              <p class="h5 font-weight-light">
                <a href="{% url 'managers:profile' job.manager.slug %}" class="text-reset">{{ job.manager.name_first }}</a>
              </p>
            </a>
          </div>
          <div class="">
            <img src="{{ job.manager.getPhoto }}" alt="{{ job.manager.name_last }}" class="img-fluid club-manager-photo" />
          </div>
        </div>
      </div>
    </div>  
  {% endwith %}
  {% endif %} 

    <div class="jumbotron pt-3 pb-4" style="background-color: rgba(8, 60, 102, 0.185); color: #000000; ">
      <div class="container">
        <p class="row h1">Ostatnie 20 lat</p>
        <div class="progress club-timeline">{% for period in clubTimeLine %}
          <div class="progress-bar {{ period.isJob }}" role="progressbar" style="width: {{ period.percentage }}%" aria-valuenow="{{ period.percentage }}" aria-valuemin="0" aria-valuemax="100">{{ period.text }}</div>
        {% endfor %}</div>
      </div>
    </div>    
{% endblock %}

{% block content %}
<div class="row">
  <p class="h1">Dotychczasowi trenerzy</p>
  {% if history %}
  <table class="table table-striped">
    <thead><tr><th>&nbsp;</th><th>Trener</th><th>Od</th><th>Do</th><th>Dni</th></tr></thead>
    <tbody>
      {% for job in history %}<tr>
        <td class="p-0" style="vertical-align: middle;"><div class="squared-photo-small"><img src="{{ job.manager.getPhoto }}" alt="" /></div></td>
        <td class="px-1"><a href="{% url 'managers:profile' job.manager.slug %}">{{ job.manager.name_first }} <b>{{ job.manager.name_last }}</b></a></td>
        <td class="d-table-cell d-sm-none px-1">{{ job.date_start|date:"M y" }}</td>
        <td class="d-none d-sm-table-cell">{{ job.date_start }}</td>
        <td class="d-table-cell d-sm-none px-1">{% if job.date_finish %}{{ job.date_finish|date:"M y" }}{% else %} - {% endif %}</td>
        <td class="d-none d-sm-table-cell">{% if job.date_finish %}{{ job.date_finish }}{% else %} - {% endif %}</td>
        <td class="text-center"><b>{{ job.days }}</b></td>
      </tr>{% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Brak wpisów!</p>
  {% endif %}
</div>

{% if links %}<div class="profile-links">
  <h3>Linki</h3>
  <ul class="list">{% for link in links %}
    <li class="list-item"><i class="fas fa-external-link-alt"></i> <a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
  {% endfor %}</ul>
</div>{% endif %}
{% endblock %}