{% extends "managers/base.html" %}
{% load static %}

{% block title %}Czas pracy trenera - według krajów{% endblock %}

{% block content %}
<h1>{{ country.name_pl }}</h1>

  {% if cups %}
  <div class="panel panel-default">
    <div class="panel-heading"><p class="h2 mb-0">Rozgrywki</p></div>
    <div class="panel-body">
      <p class="small">{{ country.name_pl }} - rozgrywki z tego kraju:</p>
      <ul class="list-inline">
        {% for cup in cups %}
          <li class="list-inline-item">
            <a href="{% url 'managers:season' cup.slug %}"><img src="{% static cup.getIcon %}" alt="{{ cup.name }}" height=64px/>{{ cup.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% if managers %}
  <div class="panel panel-default">
    <div class="panel-heading"><p class="h2 mb-0">Wszyscy z kraju {{ country.name_pl }}</p></div>
    <div class="panel-body">
      <p class="small">Pełna lista menadżerów z tego kraju:</p>
      <ul>{% for manager in managers %}
      <li><a href="{% url 'managers:profile' manager.slug %}">{{ manager.name_last }}, {{ manager.name_first }}</a></li>
      {% endfor %}
    </ul></div>
  </div>
  {% endif %}

<!-- TEN PONIZSZY PANEL Z KARTAMI DODAC ZAMIENIC Z POWYZSZYM! -->
  <!-- {% if teams %}
  <div class="panel panel-default">
    <div class="panel-heading">Drużyny w tym sezonie</div>
    <div class="panel-body">
      <div class="row">
        {% for team in teams %}
        <div class="col-md-2">
          <a href="#" class="thumbnail">
            <img src="{% static '/managers/icons-club/team.png' %}" alt="{{ team.team.name_code }}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %} -->

{% endblock %}