{% extends "managers/base.html" %}
{% load static %}

{% block title %}Czas pracy trenera{% endblock %}

{% block content %}

  <!-- {% if cups_list %}
  <div class="panel panel-default">
    <div class="panel-heading">Rozgrywki</div>
    <div class="panel-body">
      <ul class="list-inline">
        {% for cup in cups_list %}
          <li class="list-inline-item">
            <a href="{% url 'managers:season' cup.id %}"><img src="{% static cup.getIcon %}" alt="{{ cup.name }}" height=64px/></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %} -->

{% endblock %}
