{% extends "managers/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}Czas pracy trenera - dodaj zatrudnienie{% endblock %}

{% block header %}
    <div class="jumbotron">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<p class="display-4">Dodaj zatrudnienie</p>
<div class="row">
  <div class="col col-6">{% crispy form %}</div>
  <div class="col col-6">Column</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$("#selected_manager").on("change", function() {
  let selectedManagerId = $("#selected_manager option:selected").val();
});
</script>
{% endblock extra_js %}