{% extends "managers/base.html" %}
{% load static %}

{% block title %}Czas pracy trenera{% endblock %}

{% block header %}
    <div class="jumbotron" style="background-image: linear-gradient(#083B66, #419A1C); color: {{ cup.jmb_col }}; ">
      <div class="container">
        <div class="row">
          <div class="">
            <h1 class="display-5">Trenerzy</h1>
            <p class="lead">&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}

    <p class="h2 mb-0">Trenerzy według kraju pochodzenia</p>
    <p class="small">Wybierz flagę, by zobaczyć wszystkich trenerów z tego kraju:</p>
    <ul class="list-inline">{% for country in countries_list %}
      {% if country.count_managers %}
      <li class="list-inline-item"><a href="{% url 'managers:country' country.id %}" class="btn btn-default" role="button">
        <img src="{{ country.get_flag }}" alt="{{ country.name_pl }}" class="flag32" /><span class="in-line-flag-counter">{{ country.count_managers }}</span>
      </a></li>
      {% endif %}
    {% endfor %}</ul>

    <hr />
    <p class="h2 mb-0">Wszyscy trenerzy</p>
    <p class="small">Pełna lista menadżerów w serwisie:</p>
    <ul class="list-inline">{% for manager in all_managers %}
      <li class="list-inline-item"><a href="{% url 'managers:profile' manager.slug %}">
        <img src="{{ manager.country.get_flag }}" class="in-line-flag" alt="{{ manager.country.name_pl }}" /> {{ manager.name_first.0 }}.{{ manager.name_last }}
      </a></li>
    {% endfor %}</ul>

{% endblock %}