{% extends "managers/base.html" %}
{% load static %}

{% block title %}Czas pracy trenera - profil managera{% endblock %}

{% block content %}
<div class="row">
  <div class="profile-titlebar">
    <div class="col-md-3">
      <div class="profile-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
      </div>
    </div>
    <div class="col-md-5">
      <div class="profile-head">
        <h1>{{ person.name_first }} {{ person.name_last }}</h1>
        <p>Wiek: <strong> {{ age }}</strong></p>
        <p>Data urodzenia: <strong>{{ person.date_birth }}</strong></p>
        {% with 'managers/icons-country/'|add:city.country.icon_name as flag_static %}
        <p>Miejsce urodzenia: 
            <a href="{% url 'managers:country' city.country.id %}"><img src="{% static flag_static %}" alt="{{ city.name_pl }}" class="flag18" /></a>
          {{ city.name_pl }}
        </p>
        {% endwith %}
        {% with 'managers/icons-country/'|add:nationality.icon_name as flag_static %}
        <p>Narodowość: 
          <a href="{% url 'managers:country' nationality.id %}"><img src="{% static flag_static %}" alt="{{ nationality.name_pl }}" class="flag18" /> {{ country.name_pl }}</a>
        </p>
        {% endwith %}
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-club" style="text-align: center;">
        {% if current_club %}
        <h2>{{ current_club }}</h2>
        <h4>Od 2000</h4>
        {% else %}
        <h2>Brak klubu</h2>
        <h4>Od 2000</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
      <div class="profile-main">
        <div class="profile-career">
          <h3>Kariera trenerska</h3>
          {% if history %}
            <table class="table table-striped">
              <thead><tr><th>Klub</th><th>Początek</th><th>Koniec</th><th>Dni</th></tr></thead>
              <tbody>
            {% for entry in history %}
              <tr>
                <td>{{ entry.team.name_full }}</td>
                <td>pocz</td>
                <td>kon</td>
                <td>roz</td>
              </tr>
            {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>Brak wpisów!</p>
          {% endif %}
        </div>
        <div class="profile-links">
            <h3>Linki</h3>
            <ul>
              <li>Raz</li>
              <li>Dwa</li>
              <li>trzy</li>
            </ul>
          </div>        
      </div>
  </div>
  <div class="col-md-5">
      <div class="profile-sidebar">
        <div class="profile-club-history">
          <h3>Historia klubu</h3>
          <p>Poprzedni trener: </p>
          <p>Następny trener: </p>          
        </div>
      </div>
  </div>
</div>
{% endblock %}