{% extends "managers/base.html" %}
{% load static %}

{% block title %}Czas pracy trenera - profil managera{% endblock %}

{% block content %}
<div class="row">
  <div class="profile-titlebar row-eq-height">
    <div class="col-md-3">
      <div class="profile-img">
        {% with 'managers/photos/'|add:person.photo as photo %}
        <img src="{% static photo %}" alt="{{ person.name_last }}"/>
        {% endwith %}
      </div>
    </div>
    <div class="col-md-5">
      <div class="profile-head">
        <div class="profile-names">
          <h1>{{ person.name_first }} {{ person.name_last }}</h1>
        </div>
        <div class="profile-detailed">
          <p>Wiek: <strong> {{ age }}</strong></p>
          <p>Data urodzenia: <strong>{{ person.date_birth }}</strong></p>
          {% with 'managers/icons-country/'|add:city.country.icon_name as flag_static %}
          <p>Miejsce urodzenia: 
              <a href="{% url 'managers:country' city.country.id %}"><img src="{% static flag_static %}" alt="{{ city.name_pl }}" class="flag18" /></a>
            {{ city.name_pl }}
          </p>
          {% endwith %}
          {% with 'managers/icons-country/'|add:nationality.icon_name as flag_static %}
          <p>Narodowość: 
            <a href="{% url 'managers:country' nationality.id %}"><img src="{% static flag_static %}" alt="{{ nationality.name_pl }}" class="flag18" /> {{ country.name_pl }}</a>
          </p>
          {% endwith %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-club" style="text-align: center;">
        {% if current_club %}
        <h2>{{ current_club }}</h2>
        <h4>Od 2000</h4>
        {% else %}
        <h2>Brak klubu</h2>
        <h4>Od 2000</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
      <div class="profile-main">
        <div class="profile-career">
          <h3>Kariera trenerska</h3>
          {% if history %}
            <table class="table table-striped">
              <thead><tr><th>Klub</th><th>Od kiedy</th><th>Do kiedy</th><th>Dni</th></tr></thead>
              <tbody>
            {% for club in history %}
              <tr>
                <td>{{ club.team.name_full }}</td>
                <td>{{ club.date_start }}</td>
                <td>{% if club.date_finish %}{{ club.date_finish }}{% else %} - {% endif %}</td>
                <td><b>{{ club.days }}</b></td>
              </tr>
            {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>Brak wpisów!</p>
          {% endif %}
        </div>
        {% if links %}
        <div class="profile-links">
          <h3>Linki</h3>
          <ul>
            <li>Raz</li>
            <li>Dwa</li>
            <li>trzy</li>
          </ul>
        </div>
        {% endif %}
      </div>
  </div>
  <div class="col-md-5">
      <div class="profile-sidebar">
        <div class="profile-club-history">
          <h3>Historia klubu</h3>
          <p>Poprzedni trener: </p>
          <p>Następny trener: </p>          
        </div>
      </div>
  </div>
</div>
{% endblock %}