{% extends "managers/base.html" %}
{% load static %}

{% block title %}{{ query }} - Wyniki wyszukiwania | Obecny klub | Prowadzone drużyny | Statystyki | mngrs.pl{% endblock %}

{% block header %}
{% include "managers/search_box.html" %}
{% endblock %}

{% block content %}
<div class="card-group">
    <div class="card">
      <div class="card-header h3">Trenerzy</div>
      <div class="card-body hired-sacked-card">
        {% if res_managers %}<table class="hired-sacked-table">
          {% for manager in res_managers %}<tr>
            <td style="width: 32px; text-align: center;"><div class="squared-photo"><img src="{{ manager.getPhoto }}" alt="" /></div></td>
            <td width="auto"><a href="{% url 'managers:profile' manager.slug %}">{{ manager.name_first }} <strong>{{ manager.name_last }}</strong></a></td>
          </tr>{% endfor %}
        </table>
        {% else %}<p style="margin: 2.0em;">Brak wyników wyszukiwania...</p>{% endif %}
      </div>
    </div>
    <div class="card">
      <div class="card-header h3">Zespoły</div>
      <div class="card-body hired-sacked-card">
        {% if res_teams %}<table class="hired-sacked-table">
          {% for team in res_teams %}<tr>
            <td style="width: 32px; text-align: center;"><div class="squared-photo"><img src="{% static team.getIcon %}" alt="" /></div></td>
            <td width="auto"><a href="{% url 'managers:team' team.slug %}">{{ team }}</a></td>
          </tr>{% endfor %}
        </table>
        {% else %}<p style="margin: 2.0em;">Brak wyników wyszukiwania...</p>{% endif %}
      </div>
    </div>    
</div>
{% endblock %}
