{% extends "managers/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Czas pracy trenera - sezon: {{ cup.name }}{% endblock %}

{% block header %}
    <div class="jumbotron" style="background-image: linear-gradient({{ cup.jmb_bg1 }}, {{ cup.jmb_bg2 }}); color: {{ cup.jmb_col }}; ">
      <div class="container">
        <div class="row">
          <div class="col-2 col-lg-1">
            <img class="" style="height: 80px; " src="{% static cup.getIcon %}" />
          </div>
          <div class="col-10 col-lg-11">
            <h1 class="display-5">{{ cup.name }}</h1>
            <p class="lead">{{ cup.years }}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}

<form action="{% url 'managers:season' cup.slug %}" method="post" novalidate>
  {% csrf_token %}
  <div class="row">
    <div class="col-6">{{ update_team_list_form.add_team|as_crispy_field }}<input type="submit" value="Zmień" class="btn btn-primary my-2" /></div>
    <div class="col-6">{{ update_team_list_form.del_team|as_crispy_field }}<input type="submit" value="Zmień" class="btn btn-primary my-2" /></div>
  </div>
</form>
    <div>
      <p class="display-4">Aktualni trenerzy</p>
      {% if teams %}
      <table class="table table-hover table-condensed table-employments" id="table-employments">
        <thead><tr><th>&nbsp;</th><th class="d-none d-sm-table-cell th-sortable-default">Klub</th>
          <th>&nbsp;</th><th class="th-sortable-default">Manager</th>
          <th class="d-none d-lg-table-cell">Od kiedy</th>
          <th class="th-sortable-default">Dni</th></tr></thead>
        <tbody><tr></tr><!-- empty tr for sorting script issue -->
          {% for team in teams %}{% with team.getCurrentEmployment as job %}<tr>
            <td class="data-table emblem-col"><a href="{% url 'managers:team' team.slug %}"><img src="{% static team.getIcon %}" alt="{{ team.name_short }}" /></a></td>
            <td class="data-table d-none d-sm-table-cell"><a href="{% url 'managers:team' team.slug %}">{{ team.name_short }}</a></td>
            <td class="data-table photo-col">{% if job %}<a href="{% url 'managers:profile' job.manager.slug %}"><div class="squared-photo"><img src="{% static job.manager.getPhoto %}" alt="" /></div></a>{% endif %}</td>
            <td class="data-table">{% if job %}<a href="{% url 'managers:profile' job.manager.slug %}">{{ job.manager.name_first }} <b>{{ job.manager.name_last }}</b></a>{% endif %}</td>
            <td class="data-table d-none d-lg-table-cell">{% if job %}{{ job.date_start }}{% endif %}</td>
            <td class="data-table text-center"><b>{% if job %}{{ job.durationDays }}</b>{% endif %}</td>              
          </tr>{% endwith %}{% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="">Brak drużyn dodanych do tego sezonu!</p>
      {% endif %}

      <hr />
      <p class="display-4">Odeszli w tym sezonie</p>
      {% if jobs_lost %}
      <table class="table table-hover table-condensed table-employments">
        <thead><tr><th>&nbsp;</th><th class="d-none d-sm-table-cell th-sortable-default">Klub</th>
          <th>&nbsp;</th><th class="th-sortable-default">Manager</th>
          <th class="d-none d-sm-table-cell">Od kiedy</th><th>Do kiedy</th>
          <th class="th-sortable-default">Dni</th></tr></thead>
        <tbody><tr></tr><!-- empty tr for sorting script issue -->
          {% for job in jobs_lost %}<tr>
            <td class="data-table emblem-col"><a href="{% url 'managers:team' job.team.slug %}"><img src="{% static job.team.getIcon %}" alt="{{ job.team.name_short }}" /></a></td>
            <td class="data-table d-none d-sm-table-cell"><a href="{% url 'managers:team' job.team.slug %}">{{ job.team.name_short }}</a></td>
            <td class="data-table photo-col">{% if job %}<a href="{% url 'managers:profile' job.manager.slug %}"><div class="squared-photo"><img src="{% static job.manager.getPhoto %}" alt="" /></div></a>{% endif %}</td>            
            <td class="data-table"><a href="{% url 'managers:profile' job.manager.slug %}">{{ job.manager.name_first }} <b>{{ job.manager.name_last }}</b></a></td>
            <td class="data-table d-none d-sm-table-cell">{{ job.date_start }}</td>
            <td class="data-table">{{ job.date_finish }}</td>
            <td class="data-table text-center"><b>{{ job.days_lasted }}</b></td>              
          </tr>{% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="">Na razie nikt...</p>
      {% endif %}

      {% if other_teams %}
      <hr />    
      <p class="display-4">{{ country }} - pozostałe drużyny</p>    
      <div class="">
        <ul class="list-inline">{% for team in other_teams|dictsort:"name_full" %}
          <li class="list-inline-item">
            <a href="{% url 'managers:team' team.slug %}" class="btn btn-group-sm {% if team.is_national %}btn-secondary{% else %}btn-light{% endif %}" style="margin-bottom: 4px; ">{{ team }}</a>
          </li>
        {% endfor %}</ul>
      </div>
      {% endif %}
    </div>

{% endblock %}


{% block extra_js %}
<script>
  const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

  const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

  $('.th-sortable-default').click(function() {
    var table = this.closest('table');
    Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
      .sort(comparer(Array.from(this.parentNode.children).indexOf(this), this.asc = !this.asc))
      .forEach(tr => table.appendChild(tr));
});

</script>
{% endblock extra_js %}