{% extends "managers/base.html" %}
{% load static %}

{% block title %}Czas pracy trenera - lista sezonów{% endblock %}

{% block header %}
    <div class="jumbotron" style="background-image: linear-gradient(#69c270, #3b663f); color: #fff;">
      <div class="container">
        <div class="row">
          <div class="col-2 col-lg-1">
            <img class="" style="height: 80px; " src="" />
          </div>
          <div class="col-10 col-lg-11">
            <h1 class="display-5">Bieżące rozgrywki</h1>
            <p class="lead">Wszystkie ligi i puchary</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}

{% if admin_bar %}
    <nav class="navbar navbar-expand-md bg-dark mb-4">
      <a class="btn btn-secondary mr-1" href="{% url 'managers:season-add' %}" role="button">Nowy sezon</a>
      <a class="btn btn-secondary mr-1" href="{% url 'managers:season-list' %}?showHidden=True" role="button">Pokaż ukryte</a>
    </nav>   
{% endif %}

    <p class="h2 mb-0">Trenerzy w Europie</p>
    <p class="small">Sprawdź kto jest trenerem w klubie z każdej czołowej ligi europejskiej</p>
    <div class="card-columns">{% for season in object_list %}
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-header"><a href="{% url 'managers:season' season.slug %}"><img class="card-img-top season-list-element" src="{{ season.get_cup_icon }}" alt="{{ season }}" /></a></div>
        <div class="card-body pt-2 pb-0"><h5 class="card-title"><a href="{% url 'managers:season' season.slug %}">{{ season }}</a></h5></div>
      </div>{% endfor %}
    </div>

    {% if hidden %}<p class="display-4">Ukryte (nieaktywne)</p>
    <ul class="list-inline">{% for season in hidden %}
        <li class="list-inline-item"><a href="{% url 'managers:season' season.slug %}">{{ season }}</a></li>
    {% endfor %}</ul>{% endif %}
{% endblock %}