/* 
 * Articles
 */
 .article-title {
    font-size: 48px;
    line-height: 48px;
    color: rgb(34, 34, 34);
    font-weight: normal;
    letter-spacing: -0.3px;
    padding: 20px 0px;
    margin: 0px;
    hyphens: auto;
}

.article-lead p {
    font-size: 20px;
    line-height: 25px;
    color: rgb(34, 34, 34);
    font-weight: normal;
    letter-spacing: -0.3px;
    padding: 10px 0px;
    margin: 0px;
    hyphens: auto;
}

.article p {
    font-size: 18px;
    font-weight: lighter;
    line-height: 28px;
    color: rgb(34, 34, 34);
    position: relative;
    margin-bottom: 1em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.article-authordatewrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 15px 10px;
    line-height: 1.4;
}

.article-authordatewrapper span {
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    line-height: 17px;
    color: rgb(34, 34, 34);
}

.article-authordatewrapper time {
    margin-top: 4px;
    color: rgb(139, 139, 139);
    font-size: 12px;
}

.article-authorleft {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    white-space: nowrap;
    font-weight: normal;
}

.article-sidebar-header {
    font-size: 15px;
    line-height: 25px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    letter-spacing: -0.3px;
    padding: 10px 0px;
    margin: 0px;
    hyphens: auto;
}

.article-sidebar-card {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.article-lead-picture {
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 750px;
    padding: 30px 30px 25px;
    height: 450px;
    margin-top: 15px;
    background-size: cover;
    background-position: center top;
    background-blend-mode: multiply;
    text-decoration: none;
}
