html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    background-color: #ffffff; 
    margin-bottom: 150px; /* Margin bottom by footer height */
    /* background: url('../images/bg-pitch.jpg') no-repeat center center fixed;
    background-size: cover; */
}

a {
    color: #083B66;
}

.table-employments th{
    border: 0px solid #a0a0a0;
}

.dropdown-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.dropdown-cup-icon {
    height: 48px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand img {
    margin-bottom: 5px;
    margin-left: 0px;
}

.jumbotron {
    padding: 2.0rem 0 0.5rem;
    margin-bottom: 2rem;
    background-color: #303030;
    color: #fff;
    border-radius: 0;
}


/*  just profile - start */

.profile-img img {
    display: block;
    margin: 0 auto 0 auto;
    max-height: 210px;
    height: 210px;
}

.profile-club img {
    margin: 20px auto 0 auto;
    height: 135px;
}

.on-emblem-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 1.8em;
    color: #ddd;
}

.profile-flag img {
    position: absolute;  
    margin: 0 0 0 0;
    top: 80%; 
    left: 10%; 
    transform: translate(-50%, -50%);
    font-size: 1.8em;
    height: 38px;
}


/* just profile - end */

.club-emblem img {
    height: 120px;
    margin: 0;
}

.flag-big {
    border: 1px #ddd solid;
    height: 38px;
}

.flag32 {
    border: 1px #ddd solid;
    height: 32px;
} 

.flag18 {
    border: 1px #ddd solid;
    height: 18px;
}

.in-line-flag {
    border: 1px #ddd solid;
    height: 1.0em;
}

.in-line-flag-counter {
    display: inline-block;
    color: #419A1C;
    background: #fff;
    border: 1px solid #ddd;
    border-left: none;
    line-height: 30px;
    padding: 0px 6px;
    vertical-align: middle;
}

.data-table {
    vertical-align: middle !important;
}

.photo-col {
    width: 1px;
    padding: 2px !important;
    text-align: center;
}

.emblem-col {
    width: 96px;
    height: 36px;
    padding: 3px !important;
    text-align: center;
}

.emblem-col img {
    margin: 0;
    height: 36px;
    max-width: 48px;
}

.hired-sacked-card {
    padding: 0px 0px;
}

.hired-sacked-table {
    width: 100%;
    font-size: 1.1em;
}

.squared-photo {
    width: 42px;
    height: 42px;
    overflow: hidden;
    margin: 2px 6px 2px 2px;
}

.squared-photo img {
    /* 42px height means 56px width (4:3 ratio) 
    so (56-14)/2= 7*/
    height: 42px;
    margin-left: -7px;
}

.emblem-in-table {
    margin: 2px;
    height: 32px;
    max-width: 32px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.main-content {
    padding: 0 15px;
}

/*
 * Footer
 */
 .blog-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #808080;
    text-align: center;
}

.blog-footer a {
    color: #fff;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

/*
 * Progress bars
 */
.club-timeline {
    height: 5.0em;
}

.club-timeline .progress-bar {
    border: 1px solid #404040;
    background-color: rgba(8, 60, 102, 0.5);
}

.club-timeline .none {
    border: 0px;
    background-color: inherit;
}