body {
    min-height: 2000px;
    padding-top: 70px;
    background-color: whitesmoke; 
}

.profile-titlebar {
    height: 220px;
    background: #333;
}

.profile-img, .profile-head, .profile-club {
    background: #444;
    color: #eee;
}

.profile-main {
    background: #fff;
}

.profile-sidebar {
    background: #fff;
}

.flag32 {
    border: 1px #ddd solid;
    height: 32px;
}