body {
    min-height: 2000px;
    padding-top: 70px;
    background-color: whitesmoke; 
}

.profile-titlebar {
    height: 220px;
    background: #333;
}

.profile-img, .profile-head, .profile-club {
    background: #444;
    color: #eee;
    height: 100%;
}

.profile-img {
    padding-top: 20px;
}

.profile-img img {
    display: block;
    margin: 0 auto 0 auto;
    height: 200px;
}

.profile-club img {
    margin: 20px auto 0 auto;
    height: 135px;
}

.profile-head {
    padding: 50px 0 5px 10px;
}

.profile-names h1 {
    margin: 0 0 10px 0;
}
.profile-main {
    background: #fff;
}

.profile-sidebar {
    background: #fff;
}

.flag32 {
    border: 1px #ddd solid;
    height: 32px;
}

.flag18 {
    border: 1px #ddd solid;
    height: 18px;
}

.in-line-flag {
    border: 1px #ddd solid;
    height: 1.0em;    
}

.data-table {
    vertical-align: middle !important; 
}

.emblem-col {
    width: 48px;
    height: 48px;
    padding: 3px !important;
    text-align: center;
}

.emblem-col img {
    margin: 0;
    height: 48px;
    max-width: 48px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}