{% extends "managers/base.html" %}
{% load static %}
{% load markdown_extras %}

{% block title %} Artykuły | Zmiany trenera | Statystyki | CzasPracyTrenera.pl{% endblock %}
{% block meta-desc %}{% endblock %}
{% block meta-keyw %}{% endblock %}

{% block header %}
    <div class="jumbotron pt-3 pb-3 mb-0" style="background-image: linear-gradient(#083B66, #404040); color: #FFFFFF; ">
      <div class="container">
        <div class="row">
          <div class="col-4 col-sm-2 club-emblem text-center">
            <img src="{% static club.getIcon %}"  alt="{{ club.name_full }}"/>
          </div>
          <div class="col-8 col-sm-8 profile-head text-center align-self-center">
            <h1 class="display-4" >Artykuły</h1>
          </div>
          <div class="d-none d-sm-block col-sm-2 club-emblem text-center">
            <img src="{% static club.getIcon %}"  alt="{{ club.name_full }}" />
          </div>                  
        </div>
      </div>  
    </div>
{% endblock %}

{% block content %}

<div class="list-group my-5">
  {% for art in object_list %}<a href="{% url 'articles:article' art.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ art.title }}</h5>
      <small>{{ art.publish }}</small>
    </div>
    {{ art.body|truncatewords:50 }}
    <!-- <small>Donec id elit non mi porta.</small> -->
  </a>{% endfor %}
</div>

{% endblock %}